<?xml version="1.0"?>
<config>
	<modules>
        <CJM_DisablePurchase>
            <version>1.3.0</version>
        </CJM_DisablePurchase>
    </modules>
	<global>
		<models>
            <disablepurchase>
                <class>CJM_DisablePurchase</class>
            </disablepurchase>
        </models>
		<blocks>
            <disablepurchase>
                <class>CJM_DisablePurchase_Block</class>
            </disablepurchase>
        </blocks>
		<helpers>
            <disablepurchase>
                <class>CJM_DisablePurchase_Helper</class>
            </disablepurchase>
        </helpers>
		<resources>
    		<disablepurchase_setup>
      			<setup>
        			<module>CJM_DisablePurchase</module>
      			</setup>
      			<connection>
        			<use>core_setup</use>
      			</connection>
    		</disablepurchase_setup>
    		<disablepurchase_write>
      			<connection>
        			<use>core_write</use>
      			</connection>
    		</disablepurchase_write>
			<disablepurchase_read>
      			<connection>
        			<use>core_read</use>
      			</connection>
    		</disablepurchase_read>
		</resources>
	</global>
	<frontend>
        <routers>
            <DisablePurchase>
                <use>standard</use>
                <args>
                    <module>CJM_DisablePurchase</module>
                    <frontName>disablepurchase</frontName>
                </args>
            </DisablePurchase>
        </routers>
		<layout>
            <updates>
                <disablepurchase>
					<file>disablepurchase.xml</file>
                </disablepurchase>
            </updates>
        </layout>
	</frontend>
	<default>
        <disable_purchase>
            <general>
                <defaulttext>Available In Stores Only!</defaulttext>
            </general>
        </disable_purchase>
    </default>
	<adminhtml>
		<layout>
            <updates>
                <disablepurchase>
					<file>disablepurchase.xml</file>
                </disablepurchase>
            </updates>
        </layout>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<disable_purchase translate="title" module="disablepurchase">
											<title>Disable Purchase Section</title>
											<sort_order>50</sort_order>
										</disable_purchase>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>			
</config>