var/*
!var/sphinx
!var/aoe_profiler.xml.sample
!var/.htaccess
media/*
php.ini.sample
index.php.sample
htaccess.sample
app/etc/local.xml
!media/img
!media/brands
!media/mageworx
media/mageworx/geoip/GeoIP.dat_backup_*
media/brands/cache
media/brands/thumbnail
dev/tests/functional/*
!app/design/
site_map/*
sitemap/*
js/mw_freegift/lib/config-default.js
.git-ftp.log
skin/frontend/skin_original_images/
.idea/