<?xml version="1.0"?>
<config>
    <modules>
        <Magedevgroup_Customblocks>
            <version>0.0.1</version>
        </Magedevgroup_Customblocks>
    </modules>
    <global>
        <blocks>
            <magedevgroup_customblocks>
                <class>Magedevgroup_Customblocks_Block</class>
            </magedevgroup_customblocks>
        </blocks>
        <resources>
            <magedevgroup_customblocks_setup>
                <setup>
                    <module>Magedevgroup_Customblocks</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magedevgroup_customblocks_setup>
            <magedevgroup_customblocks_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </magedevgroup_customblocks_setup>
            <magedevgroup_customblocks_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </magedevgroup_customblocks_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <packagename_modulename>
                    <file>magedevgroup/customblocks.xml</file>
                </packagename_modulename>
            </updates>
        </layout>
    </frontend>
</config>