<?xml version="1.0"?>
<config>
    <modules>
        <Velanapps_Rate>
            <version>1.0.0</version>
        </Velanapps_Rate>
    </modules>  
    <global>
		<blocks>
			<rate>
				<class>Velanapps_Rate_Block</class>
			</rate>
		</blocks>
        <models>
            <rate>
                <class>Velanapps_Rate_Model</class>
                <resourceModel>rate_mysql4</resourceModel>
            </rate>
            <rate_mysql4>
                <class>Velanapps_Rate_Model_Mysql4</class>
                <entities>
                    <rate>
                        <table>product_shipping_rate</table>
                    </rate>
                </entities>
            </rate_mysql4>
        </models>
        <resources>
            <rate_setup>
                <setup>
                    <module>Velanapps_Rate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rate_setup>
            <rate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rate_write>
            <rate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rate_read>
        </resources>
        <blocks>
            <rate>
                <class>Velanapps_Rate_Block</class>
            </rate>
        </blocks>
        <helpers>
            <rate>
                <class>Velanapps_Rate_Helper</class>
            </rate>
        </helpers>
    </global>
</config>