<?xml version="1.0"?>
<config>
    <modules>
        <OV_ShippingMethods>
            <version>1.0.0</version>
        </OV_ShippingMethods>
    </modules>
    <global>

    <blocks>
        <checkout>
            <rewrite>
                <onepage_shipping_method_available>OV_ShippingMethods_Block_Method</onepage_shipping_method_available>
            </rewrite>
        </checkout>
    </blocks>
    </global>
</config>