<?xml version="1.0"?>
<config>
    <modules>
        <Magedevgroup_Customerorderstatus>
            <version>0.0.1</version>
        </Magedevgroup_Customerorderstatus>
    </modules>

    <global>
        <blocks>
            <sales>
                <rewrite>
                    <order_history>Magedevgroup_Customerorderstatus_Block_Order_History</order_history>
                </rewrite>
            </sales>
        </blocks>
    </global>
</config>