var/cache
var/session
var/locks
var/package
var/importexport
var/log
var/*
var/report
/media/
media/catalog/product/cache
php.ini.sample
index.php.sample
htaccess.sample
media/css
media/js
# Project Files
*.sublime-workspace
*.sublime-project
.idea/
app/etc/local.xml
!media/img
!media/wysiwyg
media.zip
includes/src
sprockets.zip
/old-site/
logs/
/dev/