<?xml version="1.0" ?>
<config>
	<modules>
		<Velanapps_Winners>
			<version>1.0.0</version>
		</Velanapps_Winners>
	</modules>
	<frontend>
		<routers>
			<winners>
				<use>standard</use>
				<args>
					<module>Velanapps_Winners</module>
					<frontName>winners</frontName>
				</args>
			</winners>
		</routers>
		<layout>
			<updates>
				<winners>
					<file>winners.xml</file>
				</winners>
			</updates>
		</layout>
	</frontend>
</config>