<?xml version="1.0" ?>
<config>
	<modules>
		<Velanapps_Shopy>
			<version>1.0.1</version>
		</Velanapps_Shopy>
	</modules>
	<frontend>
		<routers>
			<shopy>
				<use>standard</use>
				<args>
					<module>Velanapps_Shopy</module>
					<frontName>shopy</frontName>
				</args>
			</shopy>
		</routers>
	</frontend>
	<global>
		<rewrite>
			<shopy>
			   <from><![CDATA[#^/checkout/cart/#]]></from>
			   <to>/shopy/cart/</to>
			</shopy>
		</rewrite>
		<blocks>
			<velan_shopy>
				<class>Velanapps_Shopy_Block</class>
			</velan_shopy>
			<sales>
				<rewrite>
					<order_totals>Velanapps_Shopy_Block_Sales_Order_Totals</order_totals>
					<order_invoice_totals>Velanapps_Shopy_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
            		<order_creditmemo_totals>Velanapps_Shopy_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
				</rewrite>
			</sales>
			<adminhtml>
				<rewrite>
					 <sales_order_totals>Velanapps_Shopy_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
					 <sales_order_invoice_totals>Velanapps_Shopy_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
            		<sales_order_creditmemo_totals>Velanapps_Shopy_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
            <velan_shopy>
                <class>Velanapps_Shopy_Helper</class>
            </velan_shopy>
        </helpers>
		<models>
            <velan_shopy>
                <class>Velanapps_Shopy_Model</class>
            </velan_shopy>
        </models>
		<resources>
			<velan_shopy_setup>
                <setup>
                    <module>Velanapps_Shopy</module>
                </setup>
				<connection>
				  <use>core_setup</use>
				</connection>
            </velan_shopy_setup>
			<velan_shopy_write>
				<connection>
                    <use>core_write</use>
                </connection>
			</velan_shopy_write>
            <velan_shopy_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </velan_shopy_read>
		</resources>
		<sales>
            <quote>
                <totals>
                    <customtax>
                        <class>velan_shopy/sales_quote_address_total_customtax</class>
						<after>subtotal,discount,shipping,tax,grand_total</after>
                    </customtax>
                </totals>
            </quote>
			<order_invoice>
				<totals>
                    <velan_shopy>
                        <class>velan_shopy/sales_order_invoice_total_customtax</class>
						<after>subtotal,discount,shipping,tax,grand_total</after>
                    </velan_shopy>                    
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <customtax>
                        <class>velan_shopy/sales_order_creditmemo_total_customtax</class>
                    </customtax>                    
                </totals>
            </order_creditmemo>
       </sales>
	   <fieldsets>
            <sales_convert_quote_address>
                <sales_tax><to_order>*</to_order></sales_tax>
                <base_sales_tax><to_order>*</to_order></base_sales_tax>
            </sales_convert_quote_address>
			<sales_convert_order>
				<sales_tax><to_invoice>*</to_invoice></sales_tax>
                <base_sales_tax><to_invoice>*</to_invoice></base_sales_tax>
			</sales_convert_order>
        </fieldsets>
		<pdf>
			<totals>
				<total_customtax translate="title">
					<title>Vat Reduction</title>
					<source_field>sales_tax</source_field>
					<model>Velanapps_Shopy_Model_Sales_Pdf_Total_Customtax</model>
					<font_size>7</font_size>
					<display_zero>0</display_zero>
					<sort_order>300</sort_order>
				</total_customtax>
			</totals>
		</pdf>
	</global>
</config>