<?xml version="1.0"?>
<config>
    <modules>
        <ModuleMart_Deliverydate>
            <version>0.1.0</version>
        </ModuleMart_Deliverydate>
    </modules>
    <frontend>
        <routers>
            <deliverydate>
                <use>standard</use>
                <args>
                    <module>ModuleMart_Deliverydate</module>
                    <frontName>deliverydate</frontName>
                </args>
            </deliverydate>
        </routers>
    </frontend>
    <admin>
        <routers>
			<deliverydate>
				<use>admin</use>
				<args>
					<module>ModuleMart_Deliverydate</module>
					<frontName>deliverydate</frontName>
				</args>
			</deliverydate>
        </routers>
    </admin>
    <global>
        <models>
            <deliverydate>
                <class>ModuleMart_Deliverydate_Model</class>
                <resourceModel>deliverydate_mysql4</resourceModel>
            </deliverydate>
            <deliverydate_mysql4>
                <class>ModuleMart_Deliverydate_Model_Mysql4</class>
                <entities>
                    <deliverydate>
                        <table>mm_deliverydate</table>
                    </deliverydate>
                </entities>
            </deliverydate_mysql4>
        </models>
        <resources>
            <deliverydate_setup>
                <setup>
                    <module>ModuleMart_Deliverydate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deliverydate_setup>
            <deliverydate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deliverydate_write>
            <deliverydate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deliverydate_read>
        </resources>
        <blocks>
			<adminhtml>
				<rewrite>
					<sales_order_view_tabs>ModuleMart_Deliverydate_Block_Adminhtml_Order_View_Tab_Delivery_Tab</sales_order_view_tabs>
                </rewrite>
				<rewrite>
					<sales_order_view>ModuleMart_Deliverydate_Block_Adminhtml_Order_View_Tab_Delivery_Button</sales_order_view>
                </rewrite>
			</adminhtml>
            <deliverydate>
                <class>ModuleMart_Deliverydate_Block</class>
            </deliverydate>
        </blocks>
        <helpers>
            <deliverydate>
                <class>ModuleMart_Deliverydate_Helper</class>
            </deliverydate>
        </helpers>
		<template>
            <email>
                <deliverydate_email_delivery_template translate="label" module="deliverydate">
                    <label>Delivery Date Template</label>
                    <file>modulemart/deliverydate/delivery-notification.html</file>
                    <type>html</type>
                </deliverydate_email_delivery_template>
				<deliverydate_email_pickup_template translate="label" module="deliverydate">
                    <label>Pickup Date Template</label>
                    <file>modulemart/deliverydate/pickup-notification.html</file>
                    <type>html</type>
                </deliverydate_email_pickup_template>
            </email>
        </template>
    </global>
</config>