<?xml version="1.0"?>
<config>
	<modules>
		<Velanapps_Watermark>
			<version>1.0.0</version>
		</Velanapps_Watermark>
	</modules>
	<frontend>
		<routers>
			<watermark>
				<use>standard</use>
				<args>
					<module>Velanapps_Watermark</module>
					<frontName>watermark</frontName>
				</args>
			</watermark>
		</routers>
	</frontend>
	<global>
		<helpers>
			<watermark>
				<class>Velanapps_Watermark_Helper</class>
			</watermark>
			<catalog>
				<rewrite>
					<image>Velanapps_Watermark_Helper_Image</image>
				</rewrite>
			</catalog>
		</helpers>
		<models>
            <watermark>
                <class>Velanapps_Watermark_Model</class>
				<resourceModel>watermark_mysql4</resourceModel>
            </watermark>
			<watermark_mysql4>
                <class>Velanapps_Watermark_Model_Mysql4</class>
                <entities>
				    <watermark>
                        <table>watermark</table>
                    </watermark>				
                </entities>
            </watermark_mysql4>
		</models>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<watermark>
						<type>singleton</type>
						<class>watermark/observer</class>
						<method>proCollection</method>
					</watermark>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
		<template>
			<email>
				<scrappage_scheme_email_template translate="label" module="watermark">
					<label>VelanApps Trade-In Guarantee Code Template</label>
					<file>trade-in_guarantee_email.html</file>
					<type>html</type>
				</scrappage_scheme_email_template>
			</email>
		</template> 
		<resources>
            <watermark_setup>
                <setup>
                    <module>Velanapps_Watermark</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </watermark_setup>
            <watermark_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </watermark_write>
            <watermark_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </watermark_read>
        </resources>
	</global>
</config>