<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Glace_Extendedordergrid>
            <version>1.3.5</version>
        </Glace_Extendedordergrid>
    </modules>
    
    <admin>
        <routers>
            <ciextendedordergrid>
                <use>admin</use>
                <args>
                    <module>Glace_Extendedordergrid</module>
                    <frontName>ciextendedordergrid</frontName>
                </args>
            </ciextendedordergrid>
        </routers>
    </admin>
    <frontend>
        <translate>
            <modules>
                <Glace_Extendedordergrid>
                    <files>
                        <default>Glace_Extendedordergrid.csv</default>
                    </files>
                </Glace_Extendedordergrid>
            </modules>
        </translate>
    </frontend>    
    <adminhtml>
        <translate>
            <modules>
                <Glace_Extendedordergrid>
                    <files>
                        <default>Glace_Extendedordergrid.csv</default>
                    </files>
                </Glace_Extendedordergrid>
            </modules>
        </translate>
        <menu>
            <sales>
                <children>
                    <ciordermanager translate="title">
                        <title>Add columns in Orders Grid</title>
                        <action>ciextendedordergrid/adminhtml_settings</action>
                        <sort_order>19</sort_order>
                    </ciordermanager>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ciextendedordergrid translate="title" module="ciextendedordergrid">
                                            <title>Add columns in Orders Grid</title>
                                        </ciextendedordergrid>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <sales>
                             <children>
			                    <ciordermanager translate="title">
			                        <title>Add columns in Orders Grid</title>
			                        <action>ciextendedordergrid/adminhtml_settings</action>
			                        <sort_order>19</sort_order>
			                    </ciordermanager>
			                </children>
                        </sales>
                     </children>
                </admin>
            </resources>
        </acl>
        
        <layout>
            <updates>
                <ciextendedordergrid>
                    <file>ciextendedordergrid/ciextendedordergrid.xml</file>
                </ciextendedordergrid>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ciextendedordergrid>
                <class>Glace_Extendedordergrid_Model</class>
                <resourceModel>ciextendedordergrid_mysql4</resourceModel>
            </ciextendedordergrid>
            <ciextendedordergrid_mysql4>
                <class>Glace_Extendedordergrid_Model_Mysql4</class>
                <entities>
                    <order_item>
                        <table>cmsideas_extendedordergrid_order_item</table>
                    </order_item> 
                    <order_item_product>
                        <table>cmsideas_extendedordergrid_order_item_product</table>
                    </order_item_product>
                </entities>
            </ciextendedordergrid_mysql4>
            <sales_mysql4>
                <rewrite>
                    <order_grid_collection>Glace_Extendedordergrid_Model_Mysql4_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_mysql4>
        </models>
        <resources>
             <ciextendedordergrid_setup>
                <setup>
                    <module>Glace_Extendedordergrid</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ciextendedordergrid_setup>
            <ciextendedordergrid_write>
                <connection><use>core_write</use></connection>
            </ciextendedordergrid_write>
            <ciextendedordergrid_read>
                <connection><use>core_read</use></connection>
            </ciextendedordergrid_read>
        </resources>
        <blocks>
            <ciextendedordergrid>
                <class>Glace_Extendedordergrid_Block</class>
            </ciextendedordergrid>
            <adminhtml>
                <rewrite>
                </rewrite>
            </adminhtml>
            
        </blocks>
        <helpers>
            <ciextendedordergrid>
                <class>Glace_Extendedordergrid_Helper</class>
            </ciextendedordergrid>
        </helpers>
        <events>
            <sales_order_item_save_after>
                <observers>
                    <ciextendedordergrid>
                        <class>ciextendedordergrid/observer</class>
                        <method>onSalesOrderItemSaveAfter</method>
                    </ciextendedordergrid>
                </observers>
            </sales_order_item_save_after>
            <core_collection_abstract_load_before>
                <observers>
                    <ciextendedordergrid>
                        <type>singleton</type>
                        <class>ciextendedordergrid/observer</class>
                        <method>modifyOrderCollection</method>
                    </ciextendedordergrid>
                </observers>
            </core_collection_abstract_load_before>
            
             <core_layout_block_create_after>
                <observers>
                    <ciextendedordergrid>
                        <type>singleton</type>
                        <class>ciextendedordergrid/observer</class>
                        <method>modifyOrderGridAfterBlockGenerate</method>
                    </ciextendedordergrid>
                </observers>
            </core_layout_block_create_after>
        </events>
        
    </global>
    <default>
        <ciextendedordergrid>
            <general>
                <max>4</max>
                <images>1</images>
                <shipping>0</shipping>
                <payment>0</payment>
                <coupon>0</coupon>
                <shipping_address>0</shipping_address>
                <billing_address>0</billing_address>
                <customer_email>1</customer_email>
            </general>
        </ciextendedordergrid>
    </default>
</config>