.pdf-04 {
	margin: 0 auto;
	display: block;
	position: relative;
	z-index: 0;
	page-break-after:always;
	clear: both;
	color: #61686d;
	font: 12px "DejaVu Sans", Helvetica, Arial, Verdana, sans-serif;
	font-weight: lighter;
}

.end-page{
	page-break-after:auto;
}

.pdf-04 .invoice-header{
	margin-bottom: 10px;
}
.pdf-04 h1.invoice {
	color: #4d5357;
	font-weight: lighter;
	font-size: 40px;
	margin: 0;
	margin-top: 5px;
}
.pdf-04 h3{
	margin: 0;
}
.pdf-04 .terms {
	margin: 0 0 10px 0;
	font-size: 12px;
	color: #a1a7ac;
	line-height: 180%;
}

.pdf-04 .terms strong {
	font-size: 16px;
}

.pdf-04 .logo-container{width: 100%;display: block;text-align: right;margin-bottom: 10px;}
.pdf-04 .tbl-info{border: 1px solid #eab689;margin-bottom: 10px; valign: top;width: 100%;}
.pdf-04 .tbl-info td{padding: 10px 20px;width: 50%;}
.pdf-04 .tbl-info table td{padding: 0;}
.pdf-04 .items {
	width: 100%;
	text-align: left;
	border: 1px solid #eab689;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	margin: 0;
	color: #a1a7ac;
}
.pdf-04 .items thead th, table.tablesorter tfoot th {
	margin: 0;
}
.pdf-04 .items thead .header {
	background: #f08b33;
	height: 30px;
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #d47e31;
}
.pdf-04 .items .product{}
.pdf-04 .items .sku{width:80px;}
.pdf-04 .items .tbprice{width:45px;}
.pdf-04 .items .qty{width:40px;}
.pdf-04 .items .tax{width:40px;}
.pdf-04 .items .subtotal{width:80px;}
.pdf-04 .items thead th.first {
	border-left: none;
}

.pdf-04 .items tbody td {
	padding: 10px;
	vertical-align: top;
}
.pdf-04 .items .even td {
	background: #fff9f4;
}
.pdf-04 .product-options{padding-left: 20px;}
.pdf-04 .items .product-options td{padding: 0;padding-left:20px; border: 0;}
.pdf-04 .items .bundle-sub-item td{padding: 0;}


.pdf-04 .total-due {
	float: right;
	width: 350px;
	border: 1px solid #eab689;
	margin: 0;
	padding: 0;
	text-align: left;
	display: block;
	color: #4d5357;
}
.pdf-04 .total-due td.label{text-align: right;padding-right: 20px;}
.pdf-04 .total-due td.value{}
.pdf-04 .total-due td{padding: 5px;}
.pdf-04 .total-due tfoot{background: #f08b33;color: #FFF; font-weight: bold;}