<config>
  <modules>
    <Conversionsondemand_Conversions360>
      <version>1.1.0</version>
    </Conversionsondemand_Conversions360>
  </modules>
  <global>
    <models>
      <conversions360>
        <class>Conversionsondemand_Conversions360_Model</class>
      </conversions360>
    </models>
    <blocks>
      <conversions360>
        <class>Conversionsondemand_Conversions360_Block</class>
      </conversions360>
    </blocks>
    <helpers>
      <conversionsondemand_conversions360>
        <class>Conversionsondemand_Conversions360_Helper</class>
      </conversionsondemand_conversions360>
    </helpers>
    <events>
      <controller_action_postdispatch>
        <observers>
          <conversionsondemand_conversions360_model_observer>
            <type>singleton</type>
            <class>Conversionsondemand_Conversions360_Model_Observer</class>
            <method>checkServiceDisabledParam</method>
          </conversionsondemand_conversions360_model_observer>
        </observers>
      </controller_action_postdispatch>
    </events>
  </global>
  <frontend>
    <layout>
      <updates>
        <conversions360>
          <file>conversionsondemand/conversions360/conversions360.xml</file>
        </conversions360>
      </updates>
    </layout>
    <routers>
      <conversions360>
        <use>standard</use>
        <args>
          <module>Conversionsondemand_Conversions360</module>
          <frontName>conversions360</frontName>
        </args>
      </conversions360>
    </routers>
  </frontend>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <conversions360_options>
                      <title>Conversionsondemand.com options</title>
                    </conversions360_options>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>
