<?xml version="1.0"?>
<config>
    <modules>
        <Sp_Pay4leter>
            <version>0.0.5</version>
        </Sp_Pay4leter>
    </modules>
    <global>
        <helpers>
            <pay4leter>
                <class>Sp_Pay4leter_Helper</class>
            </pay4leter>
            <sp_pay4leter>
                <class>Sp_Pay4leter_Helper</class>
            </sp_pay4leter>
        </helpers>
        <blocks>
            <pay4leter>
                <class>Sp_Pay4leter_Block</class>
            </pay4leter>
        </blocks>

        <models>
            <sp_pay4leter>
                <class>Sp_Pay4leter_Model</class>
                <resourceModel>pay4leter_resource</resourceModel>
            </sp_pay4leter>
            <pay4leter_resource>
                <class>Sp_Pay4leter_Model_Resource</class>
                <entities>
                    <pay4leter>
                        <table>pay4leterProductPlans</table>
                    </pay4leter>
                </entities>
            </pay4leter_resource>
        </models>
        <resources>
            <pay4leter_setup>
                <setup>
                    <module>Sp_Pay4leter</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </pay4leter_setup>
        </resources>

        <events>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <pay4leter>
                        <type>singleton</type>
                        <class>Sp_Pay4leter_Model_Observer</class>
                        <method>importPay4leterData</method>
                    </pay4leter>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>

            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <pay4leter>
                        <type>singleton</type>
                        <class>Sp_Pay4leter_Model_Observer</class>
                        <method>addInterviewsExportField</method>
                    </pay4leter>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
    </global>
   
    <default>
        <payment>
            <pay4leter>
                <model>sp_pay4leter/checkoutpay4leter</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Pay4Later Payment</title>
                <payment_action>sale</payment_action>
                <submit_url>https://someurl.com</submit_url>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </pay4leter>
        </payment>
    </default>
     <admin>
        <routers>
            <pay4leter_admin>
                <use>admin</use>
                <args>
                    <module>Sp_Pay4leter</module>
                    <frontName>admin_pay4leter</frontName>
                </args>
            </pay4leter_admin>
        </routers>
    </admin>
    <frontend>        
        <routers>
            <pay4leter>
                <use>standard</use>
                <args>
                    <module>Sp_Pay4leter</module>
                    <frontName>pay4leter</frontName>
                </args>
            </pay4leter>
        </routers>
        <layout>
            <updates>
                <pay4leter>
                    <file>pay4leter.xml</file>
                </pay4leter>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <pay4leter>
                    <file>pay4leter.xml</file>
                </pay4leter>
            </updates>
        </layout>
    </adminhtml>

</config>