<?xml version="1.0"?>
<config>
	<modules>
		<Webkul_Preorder>
			<version>1.2.0</version>
		</Webkul_Preorder>
	</modules>
	<frontend>
		<routers>
			<preorder>
				<use>standard</use>
				<args>
					<module>Webkul_Preorder</module>
					<frontName>preorder</frontName>
				</args>
			</preorder>
			<checkout>
				<args>
					<modules>
						<Webkul_Preorder before="Mage_Checkout">Webkul_Preorder</Webkul_Preorder>
					</modules>
				</args>
			</checkout>
			<sales>
				<args>
					<modules>
						<Webkul_Preorder before="Mage_Sales">Webkul_Preorder</Webkul_Preorder>
					</modules>
				</args>
			</sales>
		</routers>
		<layout>
			<updates>
				<preorder>
					<file>preorder.xml</file>
				</preorder>
			</updates>
		</layout>
		<translate>
			<modules>
				<Webkul_Preorder>
					<files>
						<preorder>Webkul_Preorder.csv</preorder>
					</files>
				</Webkul_Preorder>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<preorder>
				<use>admin</use>
				<args>
					<module>Webkul_Preorder</module>
					<frontName>preorder</frontName>
				</args>
			</preorder>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Webkul_Preorder>
					<files>
						<preorder>Webkul_Preorder.csv</preorder>
					</files>
				</Webkul_Preorder>
			</modules>
		</translate>
		<menu>
			<preorder module="preorder">
				<title>Preorder</title>
				<sort_order>71</sort_order>
				<children>
					<items module="preorder">
						<title>List Preorders</title>
						<sort_order>0</sort_order>
						<action>preorder/adminhtml_preorder</action>
					</items>
				</children>
			</preorder>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Webkul_Preorder>
							<title>Preorder Module</title>
							<sort_order>10</sort_order>
						</Webkul_Preorder>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<preorder>
					<file>preorder.xml</file>
				</preorder>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<preorder>
				<class>Webkul_Preorder_Model</class>
				<resourceModel>preorder_mysql4</resourceModel>
			</preorder>
			<preorder_mysql4>
				<class>Webkul_Preorder_Model_Mysql4</class>
				<entities>
					<preorder>
						<table>wk_preorder</table>
					</preorder>
					<order>
						<table>sales_flat_order</table>
					</order>
					<grid>
						<table>sales_flat_order_grid</table>
					</grid>
					<item>
						<table>sales_flat_order_item</table>
					</item>
					<payment>
						<table>sales_flat_order_payment</table>
					</payment>
					<quote>
						<table>sales_flat_quote</table>
					</quote>
					<quoteitem>
						<table>sales_flat_quote_item</table>
					</quoteitem>
				</entities>
			</preorder_mysql4>
			<catalog>
				<rewrite>
					<product>Webkul_Preorder_Model_Product</product>
				</rewrite>
			</catalog>
			<cataloginventory>
				<rewrite>
					<stock_item>Webkul_Preorder_Model_Stock_Item</stock_item>
				</rewrite>
			</cataloginventory>
			<cataloginventory>
				<rewrite>
					<observer>Webkul_Preorder_Model_CatalogInventoryObserver</observer>
				</rewrite>
			</cataloginventory>
			<cataloginventory>
				<rewrite>
					<stock>Webkul_Preorder_Model_Stock</stock>
				</rewrite>
			</cataloginventory>
			<sales>
				<rewrite>
					<order>Webkul_Preorder_Model_Sales_Order</order>
				</rewrite>
			</sales>
			<sales>
				<rewrite>
					<service_quote>Webkul_Preorder_Model_Sales_Service_Quote</service_quote>
				</rewrite>
			</sales>
		</models>
		<resources>
			<preorder_setup>
				<setup>
					<module>Webkul_Preorder</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</preorder_setup>
			<preorder_write>
				<connection>
					<use>core_write</use>
				</connection>
			</preorder_write>
			<preorder_read>
				<connection>
					<use>core_read</use>
				</connection>
			</preorder_read>
		</resources>
		<blocks>
			<preorder>
				<class>Webkul_Preorder_Block</class>
			</preorder>
			<catalog>
				<rewrite>
					<product_view_type_configurable>Webkul_Preorder_Block_Product_View_Type_Configurable</product_view_type_configurable>
				</rewrite>
			</catalog>
			<bundle>
				<rewrite>
					<catalog_product_view_type_bundle_option_multi>Webkul_Preorder_Block_Catalog_Product_View_Type_Bundle_Option_Multi</catalog_product_view_type_bundle_option_multi>
				</rewrite>
			</bundle>

			<bundle>
				<rewrite>
					<sales_order_items_renderer>Webkul_Preorder_Block_Sales_Order_Items_Renderer</sales_order_items_renderer>
				</rewrite>
			</bundle>

			<bundle>
				<rewrite>
					<catalog_product_view_type_bundle_option_select>Webkul_Preorder_Block_Catalog_Product_View_Type_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>
				</rewrite>
			</bundle>
			<bundle>
				<rewrite>
					<catalog_product_view_type_bundle_option_checkbox>Webkul_Preorder_Block_Catalog_Product_View_Type_Bundle_Option_Checkbox</catalog_product_view_type_bundle_option_checkbox>
				</rewrite>
			</bundle>
			<bundle>
				<rewrite>
					<catalog_product_view_type_bundle_option_radio>Webkul_Preorder_Block_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
				</rewrite>
				<rewrite>
					<catalog_product_view_type_bundle>Webkul_Preorder_Block_Catalog_Product_View_Type_Bundle</catalog_product_view_type_bundle>
				</rewrite>
			</bundle>
			<adminhtml>
				<rewrite>
					<sales_order_grid>Webkul_Preorder_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<preorder>
				<class>Webkul_Preorder_Helper</class>
			</preorder>
			<bundle>
				<rewrite>
					<catalog_product_configuration>Webkul_Preorder_Helper_Bundle_Catalog_Product_Configuration</catalog_product_configuration>
				</rewrite>
			</bundle>
		</helpers>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<Webkul_Preorder_Model_Observer>
						<type>singleton</type>
						<class>Webkul_Preorder_Model_Observer</class>
						<method>afterPlaceOrder</method>
					</Webkul_Preorder_Model_Observer>
				</observers>
			</checkout_onepage_controller_success_action>
			<sales_quote_add_item>
				<observers>
					<Webkul_Preorder_Model_Observer>
						<type>singleton</type>
						<class>Webkul_Preorder_Model_Observer</class>
						<method>updatePrice</method>
					</Webkul_Preorder_Model_Observer>
				</observers>
			</sales_quote_add_item>
			<controller_action_predispatch_checkout_cart_add>
				<observers>
					<Webkul_Preorder_Model_Observer>
						<type>singleton</type>
						<class>Webkul_Preorder_Model_Observer</class>
						<method>beforeAddToCart</method>
					</Webkul_Preorder_Model_Observer>
				</observers>
			</controller_action_predispatch_checkout_cart_add>
			<catalog_product_save_after>
				<observers>
					<Webkul_Preorder_Model_Observer>
						<type>singleton</type>
						<class>Webkul_Preorder_Model_Observer</class>
						<method>productSaveAfter</method>
					</Webkul_Preorder_Model_Observer>
				</observers>
			</catalog_product_save_after>
			<!--<customer_login>
				<observers>
					<Webkul_Preorder_Model_Observer>
						<type>singleton</type>
						<class>Webkul_Preorder_Model_Observer</class>
						<method>customerLogin</method>
					</Webkul_Preorder_Model_Observer>
				</observers>
			</customer_login>-->
			<checkout_cart_update_items_after>
				<observers>
					<Webkul_Preorder_Model_Observer>
						<type>singleton</type>
						<class>Webkul_Preorder_Model_Observer</class>
						<method>updateCart</method>
					</Webkul_Preorder_Model_Observer>
				</observers>
			</checkout_cart_update_items_after>
			<checkout_cart_add_product_complete>
				<observers>
					<Webkul_Preorder_Model_Observer>
						<class>Webkul_Preorder_Model_Observer</class>
						<method>afterAddToCart</method>
					</Webkul_Preorder_Model_Observer>
				</observers>
			</checkout_cart_add_product_complete>
			<checkout_cart_save_after>
				<observers>
					<Webkul_Preorder_Model_Observer>
						<class>Webkul_Preorder_Model_Observer</class>
						<method>afterSaveCart</method>
					</Webkul_Preorder_Model_Observer>
				</observers>
			</checkout_cart_save_after>
		</events>
		<template>
			<email>
				<notification_mail>
					<label>Mail when product is in stock</label>
					<file>preorder/notification_mail.html</file>
					<type>html</type>
				</notification_mail>
				<webkul_test>
					<label>Test</label>
					<file>preorder/test.html</file>
					<type>html</type>
				</webkul_test>
				<preorder_guest_email>
					<label>New Pre Order email to guest</label>
					<file>preorder/preorder_new_guest.html</file>
					<type>html</type>
				</preorder_guest_email>
				<preorder_email>
					<label>New Pre Order Email</label>
					<file>preorder/preorder_new.html</file>
					<type>html</type>
				</preorder_email>
				<preorder_complete_guest_email>
					<label>Complete Pre Order email to guest</label>
					<file>preorder/preorder_complete_guest.html</file>
					<type>html</type>
				</preorder_complete_guest_email>
				<preorder_complete_email>
					<label>Complete Pre Order Email</label>
					<file>preorder/preorder_complete.html</file>
					<type>html</type>
				</preorder_complete_email>
			</email>
		</template>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<preorder>
											<title>Preorder</title>
										</preorder>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>